{% extends "base.html" %}

{% block content %}


<div class="bg-gray-100 min-h-screen w-full">
    <div class="bg-white w-full max-w-lg mx-auto rounded-xl absolute md:relative md:mx-auto md:mt-12 md:top-0 left-0 right-0 md:max-w-lg">
        <div>
            <div class="flex mt-6">
                <h2 class="text-2xl font-semibold ml-10 md:ml-10">Shaharni tanlang</h2>

                <a href="{% url 'home' %}" class="ml-auto md:ml-20 bg-gray-300 rounded-full w-8 h-8 "> <i class="fa-solid fa-xmark ml-1.5 mt-2"></i>
                </a>
            </div>

            <div class="mt-5 ml-10 md:ml-10 w-full max-w-md h-12 rounded-2xl bg-gray-200 ">
                <i class="fa-solid fa-magnifying-glass text-gray-600 ml-7 mt-4"></i>
                <input class=" text-xl bg-gray-200 ml-2 " style="outline: none;" type="text" placeholder="Shaharlarni topish">
            </div>

            <div class="ml-10 md:ml-10 text-base font-normal mt-2 w-full max-w-md">
                <div class="py-3 text-gray-700 hover:bg-gray-200 w-full flex justify-between">Andijon
                    <i class="fa-solid fa-chevron-right text-gray-500"></i></div>
                <hr>
                <div class="py-3 text-gray-700 hover:bg-gray-200 w-full flex justify-between">Toshkent
                    <i class="fa-solid fa-chevron-right text-gray-500"></i></div>
                <hr>
                <div class="py-3 text-gray-700 hover:bg-gray-200 w-full flex justify-between">Namangan
                    <i class="fa-solid fa-chevron-right text-gray-500"></i></div>
                <hr>
                <div class="py-3 text-gray-700 hover:bg-gray-200 w-full flex justify-between">Farg'ona
                    <i class="fa-solid fa-chevron-right text-gray-500"></i></div>
                <hr>
                <div class="py-3 text-gray-700 hover:bg-gray-200 w-full flex justify-between">Xiva
                    <i class="fa-solid fa-chevron-right text-gray-500"></i></div>
                <hr>
                <div class="py-3 text-gray-700 hover:bg-gray-200 w-full flex justify-between">Samarqand
                    <i class="fa-solid fa-chevron-right text-gray-500"></i></div>
                <hr>
                <div class="py-3 text-gray-700 hover:bg-gray-200 w-full flex justify-between">Buxoro
                    <i class="fa-solid fa-chevron-right text-gray-500"></i></div>
                    <hr>
            </div>


        </div>

    </div>
</div>

{% endblock %}