<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>

</head>
<body>
  
<div class="w-full bg-[#350071]">


<header class="px-6 py-6 flex items-center justify-between text-white">
  <img src="https://uzum.uz/landings/_ipx/_/landings/img/uzum-market-logo.svg" class="w-48 h-8" alt="">

  <nav class="hidden md:flex gap-8 text-sm">
    <a class="relative left-[190px]" href="#" class="hover:opacity-80">Topshirish punktini qanday ochish mumkin</a>
    <a class="relative left-[190px]" href="#" class="hover:opacity-80">Ochish uchun nima kerak</a>
    <a class="relative left-[190px]" href="#" class="hover:opacity-80">Brendbuk</a>
  </nav>

  <div class="flex items-center gap-2 ">
    <img src="/static/img/uzbflag.webp" class="w-5 h-5 relative right-[110px]" alt="">
    <span class="text-sm relative right-[110px]">UZ</span>
    <div class="flex items-center gap-2 cursor-pointer relative right-[110px]">
      <i class="fa-solid fa-chevron-down text-xs"></i>
    </div>
  </div>

</header>

<section class="relative max-w-[1300px] mx-auto px-6 py-20 grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">
  <div class="absolute inset-0 -z-10">
    <div class="absolute w-[600px] h-[80px] bg-yellow-400 rotate-[-20deg] top-20 right-10"></div>
    <div class="absolute w-[500px] h-[70px] bg-yellow-400 rotate-[30deg] bottom-20 right-0"></div>
  </div>

  <div class="text-white ">
    <h1 class="text-4xl lg:text-6xl font-extrabold leading-tight">
      Uzum Market <br>
      topshirish <br>
      punktini oching
    </h1>
    <p class="mt-6 text-lg opacity-90 max-w-md">
      Ochilishda va ishning birinchi oylarida moliyaviy jihatdan yordamlaymiz
    </p>
    <button class="mt-8 bg-yellow-400 text-black font-semibold px-8 py-4 rounded-xl hover:bg-yellow-300 transition">
      Topshirish punktini ochish
    </button>
  </div>
  <div class="">
    <img src="https://uzum.uz/landings/img/pvz/pvz.webp" class="w-full h-auto object-cover rounded-lg" alt="Topshirish punktini ochish">
  </div>

</section>

  </div>

  </div>
</div>
<body class="bg-gray-50  ">

    <div class="max-w-6xl w-full mx-auto font-inter">
        <h1 class="text-3xl md:text-5xl font-bold text-center mb-10 text-[#1f1f1f] tracking-tight">Boshlash uchun nima
            kerak</h1>

        <div class="grid lg:grid-cols-2 gap-6">
       
            <div class="bg-[#7000FF] rounded-[32px] p-8 md:p-12 text-white relative overflow-hidden  flex  justify-between hover:scale-[1.01] transition-transform duration-300 ease-in-out shadow-xl group">
                <div class="relative z-10 max-w-md">
                    <h2 class="text-3xl md:text-4xl font-bold mb-4">Bino</h2>
                    <p class="text-base md:text-lg opacity-90 leading-relaxed font-medium">
                        20-50 m² oralig‘ida — buyurtmalarni topshirish zonasini joylashtirish va xaridorlarga navbatsiz
                        xizmat ko‘rsatish uchun yetarli
                    </p>
                </div>

   
                

               <div class="w-[900px] absolute top-[90px] left-[1px]">
                <img src="https://uzum.uz/landings/img/pvz/start/logistics.avif" alt="">
               </div>
            </div>


            <div class="flex flex-col gap-6">

                <div
                    class="bg-white rounded-[32px] p-8 md:p-10 flex flex-col md:flex-row items-center justify-between shadow-sm border border-gray-100 hover:shadow-md transition-shadow duration-300 h-full">
                    <div class="flex-1 text-center md:text-left mb-6 md:mb-0 md:pr-8">
                        <h3 class="text-2xl md:text-3xl font-bold mb-3 text-gray-900">Uskunalar va mebel</h3>
                        <p class="text-gray-500 text-base leading-relaxed">
                            Videokameralar, telefon, noutbuk, skaner, stol, stullar va buyurtmalar uchun stellajlar
                        </p>
                    </div>
                    <div class="w-40 md:w-48 flex-shrink-0">
                        <img src="https://uzum.uz/landings/img/pvz/start/laptop.avif" alt="Equipment"
                            class="w-full object-contain rounded-xl">
                    </div>
                </div>


                <div
                    class="bg-white rounded-[32px] p-8 md:p-10 flex flex-col md:flex-row items-center justify-between shadow-sm border border-gray-100 hover:shadow-md transition-shadow duration-300 h-full">
                    <div class="flex-1 text-center md:text-left mb-6 md:mb-0 md:pr-8">
                        <h3 class="text-2xl md:text-3xl font-bold mb-3 text-gray-900">Xodim</h3>
                        <p class="text-gray-500 text-base leading-relaxed">
                            10:00-20:00 oralig‘ida xaridorlarga buyurtmalarni topshiradigan kishi
                        </p>
                    </div>
                    <div class="w-40 md:w-48 flex-shrink-0">
                        <img src="https://uzum.uz/landings/img/pvz/start/people.avif" alt="Staff"
                            class="w-full object-contain rounded-xl">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

   <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

        body {
            font-family: 'Inter', sans-serif;
            background-color: #f9f9f9;
        }
    </style>



<div class="bg-gradient-to-br from-[#140a25] via-[#1b0f33] to-[#0c0718] min-h-screen text-white">

    <h1 class="text-5xl font-bold ml-80">Birinchi oydanoq pul ishlashni boshlang</h1>
    <section class="max-w-7xl mx-auto px-6 py-16">
    
    <div class="flex flex-wrap justify-center gap-3 mb-12">
    <button class="px-5 py-2 rounded-full bg-white text-black text-sm font-medium">
      Toshkent
    </button>
    <button class="px-5 py-2 rounded-full bg-[#2b2b2b] text-white text-sm hover:bg-[#3a3a3a] transition">
      Yirik shaharlar
    </button>
    <button class="px-5 py-2 rounded-full bg-[#2b2b2b] text-white text-sm hover:bg-[#3a3a3a] transition">
      Boshqa shaharlar va qishloqlar
    </button>
    </div>
    
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
    
    <div class="relative rounded-[32px] p-10 lg:p-14
      bg-gradient-to-br from-[#1b0f2f] to-[#12081f]
      shadow-2xl flex flex-col justify-between min-h-[520px] overflow-hidden">
    
      <p class="text-gray-300 text-2xl font-semibold text-center">
        Har bir olib ketilgan tovardan
      </p>
    
      <div class="relative flex flex-col items-center justify-center py-12">
    
        <div class="absolute w-[300px] h-[300px] bg-purple-600/30 blur-[120px] rounded-full"></div>
    
        <span class="relative text-[120px] lg:text-[170px] font-black leading-none">
          6<span class="text-[70px] lg:text-[168px] align-top">%</span>
        </span>
    
        <span class="text-xl text-gray-300 mt-4">
          daromad
        </span>
    
      </div>
    
      <p class="text-gray-400 text-sm text-center">
        Lekin har bir tovar uchun ko‘pi bilan 36 000 so‘m
      </p>
    </div>
    
    <div class="flex flex-col gap-10">
    
    
      <div class="rounded-[32px] p-10
        bg-gradient-to-br from-[#1b0f2f] to-[#12081f]
        shadow-2xl">
    
        <p class="text-2xl mb-6">
          Birinchi 6 oyda haqiqiy daromadni kafolatlaymiz
        </p>
    
        <h2 class="text-yellow-400 text-[42px] lg:text-[64px] font-extrabold leading-tight">
          17 400 000
        </h2>
    
        <p class="text-yellow-400 text-2xl font-semibold">
          so‘m oyiga
        </p>
    
        <p class="text-gray-400 text-sm mt-6">
          Bundan kam topsangiz, farqini to‘lab beramiz
        </p>
      </div>
    
      <div class="rounded-[32px] p-10 flex flex-col sm:flex-row gap-6 sm:justify-between sm:items-center
        bg-gradient-to-br from-[#1b0f2f] to-[#12081f]
        shadow-2xl">
    
        <div>
          <p class="text-2xl mb-4">Ochilish bonusi</p>
    
          <h2 class="text-yellow-400 text-[40px] lg:text-[56px] font-extrabold">
            6 100 000 <span class="text-2xl font-semibold">so‘m</span>
          </h2>
    
          <p class="text-gray-400 text-sm mt-4">
            Topshirish punkti 25 kun ichida ochilganda
          </p>
        </div>
    
        <img class="w-24 sm:w-32" 
          src="https://uzum.uz/landings/img/pvz/gift.png" 
          alt="gift">
      </div>
    
    </div>
    </div>
    <div class="max-w-6xl mx-auto px-6 text-center text-white mt-[50px]">
    
    <h2 class="text-[28px] font-semibold mb-20">
      Har bir bosqichdagi daromadingiz
    </h2>
    
    <div class="relative flex items-center justify-between">
    
      <div class="absolute top-7 left-[10%] right-[10%] h-[2px] bg-white/40"></div>
    
      <div class="relative w-1/3 flex flex-col items-center">
        <div class="w-14 h-14 rounded-full bg-white flex items-center justify-center z-10">
          <div class="w-6 h-6 rounded-full bg-purple-600 flex items-center justify-center text-white text-sm font-bold">
            ✓
          </div>
        </div>
    
        <h3 class="mt-6 text-2xl font-semibold">Ochilish</h3>
        <p class="text-yellow-400 font-semibold">bonus</p>
      </div>
    
      <div class="relative w-1/3 flex flex-col items-center">
        <div class="w-14 h-14 rounded-full bg-white flex items-center justify-center z-10">
          <div class="w-6 h-6 rounded-full bg-purple-600 flex items-center justify-center text-white text-sm font-bold">
            ✓
          </div>
        </div>
    
    
        <h3 class="mt-6 text-2xl font-semibold">Birinchi 6 oy</h3>
        <p class="text-yellow-400 font-semibold text-center">
          kamida <br> 17,4 mln so'm
        </p>
      </div>
    
      <div class="relative w-1/3 flex flex-col items-center">
        <div class="w-14 h-14 rounded-full bg-white flex items-center justify-center z-10">
          <div class="w-6 h-6 rounded-full bg-purple-600 flex items-center justify-center text-white text-sm font-bold">
            ⚡️
          </div>
        </div>
    
        <h3 class="mt-6 text-2xl font-semibold">7+ oy</h3>
        <p class="text-yellow-400 font-semibold text-center">
          har bir olib ketilgan <br> tovardan 6%
        </p>
      </div>
    
    </div>
    </div>
    </section>
</div>


<div class="bg-[#E4E6EB]  pt-[10px] pb-[100px]">
        <h2 class="flex justify-center items-center text-[50px] font-bold mb-[90px] text-center">O‘z topshirish punktingizni <br> ochish — oson</h2>
        <div class="flex justify-center items-center gap-8 mb-[25px]">
            <div class="w-full lg:w-[800px] h-52 bg-white rounded-xl p-10 lg:p-12">
                <h1 class="mb-[15px] text-[25px] font-bold">Boshlashda yordam beramiz</h1>
                <h2 class="text-[#656773] text-[16px]">Tayyor dasturiy ta'minotni taqdim etamiz, xodimlarni o‘qitib, dizayn-loyiha sovg‘a qilamiz</h2>
                <img class="w-[317px] h-[307px] ml-[445px] mt-[-170px]" src="https://uzum.uz/landings/img/pvz/rocket.avif" alt="">
            </div>
            <div class="w-[335px] h-[210px] bg-white rounded-[20px] p-[45px]">
                <h1 class="text-[30px] font-bold">Minimal sarmoya</h1>
                <h2 class="text-[#656773] mt-[8px]">Boshlanishda — faqat ishlash joyingizning remonti</h2>
            </div>
        </div>
        <div class="flex justify-center items-center gap-8">
            <div class="w-[333px] h-[210px] bg-white rounded-[20px]">
                <h1 class="ml-[25px] mt-[20px] p-[10px] text-[25px] font-bold">Tezkor <br> ishga tushirish</h1>
                <h2 class="ml-[35px] text-[#656773] nb-[30px]">Arizadan birinchi buyurtmani <br> topshirishgacha — ikki oy</h2>
            </div>
            <div class="w-[798px] h-[210px] bg-white rounded-[20px] flex justify-center items-center">
                <div class="mr-[220px]">
                   <h1 class="text-[24px] font-bold">Hech qanday yashirin <br> to‘lovlarsiz</h1> 
                   <h2 class="mt-[15px] mb-[40px] text-[#656773]">Biz qat’iy shartnoma asosida ishlaymiz</h2>
                </div>
                <img class="w-[224px] h-[224px]" src="https://uzum.uz/landings/img/pvz/coins.avif" alt="">
            </div>
        </div>
        <div class="flex justify-center items-center mt-[50px] font-bold text-[14px]">
          <div class="w-[203px] h-[56px] bg-[#7000FF] text-white flex justify-center items-center rounded-[10px]">Topshirish punktini ochish</div>  
        </div>
        
    </div>






    <div class="wrapper">
        <div class="container ">
            <div class="div text-[white]">
                <img class="w-[2116px]" src="https://uzum.uz/landings/img/pvz/steps/border.svg" alt="">
                <div class="dd bg-[#1f2026] mt-[-2px]">
                    <div class="100% flex items-center justify-center flex-col py-[50px]">
                        <h2 class="text-[55px] font-bold w-[507px] text-center">Topshirish punktini
                            ochish tartibi</h2>
                    </div>
                    <div class="flex w-[1007px] m-[0_auto] justify-between">
                        <div class="w-[74px]">
                            <img class="w-[64px] h-[64px]"
                                src="https://uzum.uz/landings/img/pvz/steps/index-background.svg" alt="">
                            <span class="text-[26px] font-semibold absolute top-[467px] left-[285px]">1</span>
                            <div class="w-[3px] h-[133px] bg-[#6a2bd6] ml-[34px] mt-[15px]"></div>
                        </div>
                        <div class="w-[502px]">
                            <h2 class="text-[28px] font-bold">Joy toping</h2>
                            <span class="text-[#ccc] font-semibold flex">• Maydoni <h3 class="ml-[15px] text-[white]">20
                                    m² va undan kattaroq</h3></span>
                            <span class="text-[#ccc] font-semibold flex">• Avtoturargohi bor</span>
                            <span class="text-[#ccc] font-semibold flex">• Fasadga Uzum Market belgisini osish
                                mumkin</span>
                        </div>
                        <div>
                            <div class="relative w-[300px] h-[200px] bg-[#7000ff] rounded-[20px]">
                                <img class="w-full rounded-[20px] h-full object-cover mix-blend-luminosity relative"
                                    src="https://uzum.uz/landings/img/pvz/steps/map.avif" alt="" />
                                <img class="absolute top-[45px] left-[185px] w-[45px] h-[80px]"
                                    src="https://uzum.uz/landings/img/pvz/steps/pointer.avif" alt="">
                            </div>
                        </div>
                    </div>



                    <div class="flex w-[1007px] m-[0_auto] justify-between">
                        <div class="w-[74px]">
                            <img class="w-[64px] h-[64px]"
                                src="https://uzum.uz/landings/img/pvz/steps/index-background.svg" alt="">
                            <span class="text-[26px] font-semibold absolute top-[678px] left-[285px]">2</span>
                            <div class="w-[3px] h-[133px] bg-[#6a2bd6] ml-[34px] mt-[15px]"></div>
                        </div>
                        <div class="w-[502px]">
                            <h2 class="text-[28px] font-bold">Ariza qoldiring</h2>
                            <span class="text-[#ccc] font-semibold   mt-[20px]">Biz sizdan joy manzili va suratlarini
                                so‘raymiz. Hammasini <br> tekshirib,
                                <strong class=" text-[white]">3-5 kun</strong>
                                <span>ichida javob qaytaramiz</span>
                            </span>
                        </div>
                        <div>
                            <img class=" rounded-[20px]  w-[300px] h-[200px]"
                                src="https://uzum.uz/landings/img/pvz/steps/chat.avif" alt="">
                        </div>
                    </div>
                    <div class="flex w-[1007px] m-[0_auto] justify-between">
                        <div class="w-[74px]">
                            <img class="w-[64px] h-[64px]"
                                src="https://uzum.uz/landings/img/pvz/steps/index-background.svg" alt="">
                            <span class="text-[26px] font-semibold absolute top-[889px] left-[285px]">3</span>
                            <div class="w-[3px] h-[133px] bg-[#6a2bd6] ml-[34px] mt-[15px]"></div>
                        </div>
                        <div class="w-[502px]">
                            <h2 class="text-[28px] font-bold">Shartnomani imzolang</h2>
                            <span class="text-[#ccc] font-semibold flex">Yuridik shaxs bo‘lmasangiz, uni
                                rasmiylashtiring. Biz shartnoma <br> tuzib, imzolash uchun sizga yuboramiz.</span>
                        </div>
                        <div>
                            <img class=" rounded-[20px]  w-[300px] h-[200px]"
                                src="https://uzum.uz/landings/img/pvz/steps/workers.avif" alt="">
                        </div>
                    </div>
                    <div class="flex w-[1007px] m-[0_auto] justify-between">
                        <div class="w-[74px]">
                            <img class="w-[64px] h-[64px]"
                                src="https://uzum.uz/landings/img/pvz/steps/index-background.svg" alt="">
                            <span class="text-[26px] font-semibold absolute top-[1105px] left-[285px]">4</span>
                            <div class="w-[3px] h-[133px] bg-[#6a2bd6] ml-[34px] mt-[15px]"></div>
                        </div>
                        <div class="w-[502px]">
                            <h2 class="text-[28px] font-bold">Joy toping</h2>
                            <span class="text-[#ccc] font-semibold flex">• Topshirish punktingiz brendbukdagidek
                                bo‘lishi uchun sizga dizayn-loyihani sovg‘a qilamiz. Ortiqcha narsalarni o‘ylashga hojat
                                qolmaydi</span>
                            <span class="text-[#ccc] font-semibold flex">• Ochilish jarayonining barcha bosqichlarida
                                yordam beradigan Uzum Market’dan yordamchi biriktiramiz</span>
                        </div>
                        <div>
                            <img class=" rounded-[20px]  w-[300px] h-[200px]"
                                src="https://uzum.uz/landings/img/pvz/steps/dp.avif" alt="">
                        </div>
                    </div>
                    <div class="flex w-[1007px] m-[0_auto] justify-between">
                        <div class="w-[74px]">
                            <img class="w-[64px] h-[64px]"
                                src="https://uzum.uz/landings/img/pvz/steps/index-background.svg" alt="">
                            <span class="text-[26px] font-semibold absolute top-[1315px] left-[285px]">5</span>
                            <div class="w-[3px] h-[133px] bg-[#6a2bd6] ml-[34px] mt-[15px]"></div>
                        </div>
                        <div class="w-[502px]">
                            <h2 class="text-[28px] font-bold">Xodim toping</h2>
                            <span class="text-[#ccc] font-semibold flex">Biz unga buyurtmalarni qanday topshirish va
                                mijozlar bilan qanday muloqot qilishni o‘rgatamiz. Xodim yollashning imkoni bo‘lmasa,
                                biz yordam beramiz</span>
                        </div>
                        <div>
                            <img class=" rounded-[20px]  w-[300px] h-[200px]"
                                src="https://uzum.uz/landings/img/pvz/steps/class_room.avif" alt="">
                        </div>
                    </div>
                    <div class="flex w-[1007px] m-[0_auto] justify-between">
                        <div class="w-[74px]">
                            <img class="w-[64px] h-[64px]"
                                src="https://uzum.uz/landings/img/pvz/steps/index-background.svg" alt="">
                            <span class="text-[26px] font-semibold absolute top-[1525px] left-[285px]">6</span>
                        </div>
                        <div class="w-[502px]">
                            <h2 class="text-[28px] font-bold">Birinchi xaridorlarni kutib oling</h2>
                            <span class="text-[#ccc] font-semibold flex">• Xaridorlar topshirish punktingizni Uzum
                                Market’da ko‘rishadi</span>
                            <span class="text-[#ccc] font-semibold flex">• Birinchi buyurtmalaringiz ombordan yetkazib
                                beriladi</span>
                            <span class="text-[#ccc] font-semibold flex">Biz sizni ochilgandan keyin ham
                                qo‘llab-quvvatlaymiz va barcha shartlar bajarilganda moliyaviy yordam
                                ko‘rsatamiz.</span>
                        </div>
                        <div>
                            <img class=" rounded-[20px]  w-[300px] h-[200px]"
                                src="https://uzum.uz/landings/img/pvz/steps/dp_outside.avif" alt="">
                        </div>
                    </div>
                </div>
                <img class=" w-[2116px] rotate-180 mt-[-2px]" src="https://uzum.uz/landings/img/pvz/steps/border.svg"
                    alt="">
            </div>
        </div>
    </div>




        <section class="w-full bg-[#f5f5f7]">

  <div class="w-full flex justify-center items-end">
    <img src="/static/img/Topshirish_punkti rasm.png" />
  </div>

  <div class="max-w-5xl mx-auto px-6 py-16">
    
    <h2 class="text-3xl md:text-4xl font-semibold text-center mb-10">
      Savollarga javob beramiz
    </h2>

    <div class="bg-[#eeeeee] rounded-2xl divide-y">

      <details class="group p-5 cursor-pointer">
        <summary class="flex justify-between items-center font-medium text-gray-800">
          BTP nima?
          <span class="group-open:rotate-180 transition">⌄</span>
        </summary>
      </details>

      <details class="group p-5 cursor-pointer">
        <summary class="flex justify-between items-center font-medium text-gray-800">
          Topshirish punkti orqali qanday daromad olaman?
          <span class="group-open:rotate-180 transition">⌄</span>
        </summary>
      </details>

      <details class="group p-5 cursor-pointer">
        <summary class="flex justify-between items-center font-medium text-gray-800">
          Nechta topshirish punktini ochish mumkin?
          <span class="group-open:rotate-180 transition">⌄</span>
        </summary>
      </details>

      <details class="group p-5 cursor-pointer">
        <summary class="flex justify-between items-center font-medium text-gray-800">
          Qaysi binolar topshirish punktiga mos keladi?
          <span class="group-open:rotate-180 transition">⌄</span>
        </summary>
      </details>

      <details class="group p-5 cursor-pointer">
        <summary class="flex justify-between items-center font-medium text-gray-800">
          Yuridik shaxs bo‘lmasdan topshirish punktini ochish mumkinmi?
          <span class="group-open:rotate-180 transition">⌄</span>
        </summary>
      </details>

      <details class="group p-5 cursor-pointer">
        <summary class="flex justify-between items-center font-medium text-gray-800">
          BTP nima?
          <span class="group-open:rotate-180 transition">⌄</span>
        </summary>
      </details>

      <details class="group p-5 cursor-pointer">
        <summary class="flex justify-between items-center font-medium text-gray-800">
          Topshirish punkti orqali qanday daromad olaman?
          <span class="group-open:rotate-180 transition">⌄</span>
        </summary>
      </details>

      <details class="group p-5 cursor-pointer">
        <summary class="flex justify-between items-center font-medium text-gray-800">
          Nechta topshirish punktini ochish mumkin?
          <span class="group-open:rotate-180 transition">⌄</span>
        </summary>
      </details>

      <details class="group p-5 cursor-pointer">
        <summary class="flex justify-between items-center font-medium text-gray-800">
          Qaysi binolar topshirish punktiga mos keladi?
          <span class="group-open:rotate-180 transition">⌄</span>
        </summary>
      </details>

      <details class="group p-5 cursor-pointer">
        <summary class="flex justify-between items-center font-medium text-gray-800">
          Yuridik shaxs bo‘lmasdan topshirish punktini ochish mumkinmi?
          <span class="group-open:rotate-180 transition">⌄</span>
        </summary>
      </details>


    </div>

  </div>

</section>



</body>
</html>